* {
    box-sizing: 'border-box'
}
:host {
    /* width: 500px; */
}

html, body {
    margin: 0;
}

body {
    padding: 25px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

li {
    border: 1px solid gray;
    padding: 10px;
    width: 300px;
    margin: 15px 0px;
}


#inactive {
    opacity: 0.5;
    user-select: none;
    pointer-events: none;
}